@using ProductCatalog.Models.ViewModels;

@model IEnumerable<ProductCatalog.Models.Entity.Product>

<div class="row pb-3">
	@if (Model != null)
	{
		@foreach (var product in Model)
		{
			<div class="col-lg-3 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
						<div class="card">
							<img src="@product.ImageUrl" style="width:300px; height:250px" class="card-img-top rounded" />

							<div class="card-body">
								<div class="pl-1">
									<p class="card-title h5 text-primary">@product.Name</p>
								</div>
								<div class="pl-1">
									<p>Price: <b>$@product.Price.ToString("0.00")</b></p>
									@if (product.Quantity <= 0)
									{
										<h6 class="card-title h5 text-danger">Out of Stock</h6>
									}
								</div>
								
							</div>
						</div>
						<div>
							<a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	}
	else
	{
		<h1> Conntact with Admin to add Products</h1>

	}
</div>
